<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

<context:annotation-config></context:annotation-config>


<bean id="add1" class ="com.JFS.Spring_Constructor_Di.Address">
<constructor-arg value= "KLU"></constructor-arg>
<constructor-arg value="Vijayawada" type="String"></constructor-arg>





</bean>

<bean id="add2" class ="com.JFS.Spring_Constructor_Di.Address">
<constructor-arg value= "KLU"></constructor-arg>
<constructor-arg value="HYD" type="String"></constructor-arg>





</bean>


<bean id="emp1" class ="com.JFS.Spring_Constructor_Di.Employee">
<property name="id" value="10"></property>
<property name="name" value="Uday"></property>



</bean>



</beans>

